<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cam Authorization Server</title>
    <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css"
          th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/assets/css/signin.css" th:href="@{/assets/css/signin.css}"/>
</head>
<body>
<div class="container">
    <form id="loginForm" class="form-signin w-100 m-auto" method="post" th:action="@{/user/login.action}">
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success" role="alert">
            You have been logged out.
        </div>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
            <label for="un">Username</label>
            <input type="text" id="un" name="un" class="form-control" required autofocus>
        </div>
        <div class="form-floating">
            <label for="pw">Password</label>
            <input type="password" id="pw" name="pw" class="form-control" required>
        </div>
        <div>
            <button class="w-100 btn btn-lg btn-primary btn-block" type="submit">登录</button>
            <a class="w-100 btn btn-light btn-block bg-white" href="/oauth2/authorization/google-idp" role="link" style="margin-top: 10px">
                <img src="/assets/img/google.png" th:src="@{/assets/img/google.png}" width="20" style="margin-right: 5px;" alt="Sign in with Google">
                Sign in with Google
            </a>
            <a class="w-100 btn btn-light btn-block bg-white" href="/oauth2/authorization/github-idp" role="link" style="margin-top: 10px">
                <img src="/assets/img/github.png" th:src="@{/assets/img/github.png}" width="24" style="margin-right: 5px;" alt="Sign in with Github">
                Sign in with Github
            </a>
        </div>
    </form>
</div>
<script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault(); // 阻止表单的默认提交行为
    
        const formData = new FormData(this);
        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });
    
        fetch(this.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
        console.log(response)
        })
        .then(data => {
            if (data.success) {
                window.location.href = '/'; // 登录成功后的重定向
            } else {
                alert('登录失败，请检查用户名和密码');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('登录过程中发生错误');
        });
    });
</script>
</body>
</html>
