<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inge.sso.authorize.server.mapper.ClientMapper">
    <resultMap id="baseMap" type="com.inge.sso.authorize.server.entity.ClientEntity">
        <id property="id" column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="clientId" column="client_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="clientIdIssuedAt" column="client_id_issued_at" javaType="java.time.Instant"
                jdbcType="timestamp"/>
        <result property="clientSecret" column="client_secret" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="clientSecretExpiresAt" column="client_secret_expires_at" javaType="java.time.Instant"
                jdbcType="timestamp"/>
        <result property="clientName" column="client_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="clientAuthenticationMethods" column="client_authentication_methods" javaType="java.util.Set"
                jdbcType="VARCHAR"/>
        <result property="authorizationGrantTypes" column="authorization_grant_types" javaType="java.util.Set"
                jdbcType="VARCHAR"/>
        <result property="redirectUris" column="redirect_uris" javaType="java.util.Set" jdbcType="VARCHAR"/>
        <result property="scopes" column="scopes" javaType="java.util.Set" jdbcType="VARCHAR"/>
        <result property="clientSettings" column="client_settings"
                javaType="org.springframework.security.oauth2.server.authorization.settings.ClientSettings"
                jdbcType="VARCHAR"/>
        <result property="tokenSettings" column="token_settings"
                javaType="org.springframework.security.oauth2.server.authorization.settings.TokenSettings"
                jdbcType="VARCHAR"/>
    </resultMap>
</mapper>